<section class="cart-container">
  <div class="back-home" [routerLink]="['/']">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="back-text">Carrinho de compras</span>
  </div>
  <div class="cart-content">
    <mat-card class="cart-items">
      <h2>Itens do carrinho</h2>
      @for (item of cartItems; track $index) {
      <div class="cart-item">
        <img [src]="item.product.image" alt="{{ item.product.title }}" />
        <div class="item-info">
          <h3>{{ item.product.title }}</h3>
          <mat-form-field appearance="outline">
            <mat-select [(value)]="item.quantity" (selectionChange)="updateQuantity(item.product.id, $event.value)">
              @for (quantity of getQuantities(item.quantity); track $index) {
                <mat-option [value]="quantity">
                  {{ quantity }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <p>R$ {{ item.product.price * item.quantity | number: '1.2-2' }}</p>
        <div class="delete-container">
          <button mat-icon-button (click)="removeItem(item.product.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <span>Deletar</span>
        </div>
      </div>
      }
    </mat-card>

    <mat-card class="total-container">
      <h3>Total</h3>
      <mat-divider></mat-divider>
      <div>
        <p>R$ {{ total | number: '1.2-2' }}</p>
        <button mat-raised-button color="primary" (click)="finalizePurchase()">FINALIZAR O PAGAMENTO</button>
        <button mat-stroked-button (click)="continueShopping()">CONTINUAR COMPRANDO</button>
      </div>
    </mat-card>
  </div>
</section>
