<section class="about">
  <img src="assets/images/mini-banner.png" alt="" />
  <h1>Um pouquinho da nossa história</h1>
  <div class="about-content">
    <p>
      Boas-vindas à Deleite, o lugar onde a refrescância encontra a diversidade
      de sabores! <br />
      Somos uma loja dedicada a trazer momentos deliciosos para o seu dia,
      oferecendo uma ampla seleção de produtos gelados que atendem a diferentes
      paladares e estilos de vida.
    </p>
    <p>
      Nosso cardápio parece experimental, mas é cuidadosamente elaborado para
      incluir smoothies cremosos, cafés gelados, sorvetes artesanais e
      milkshakes irresistíveis. Além disso, reconhecemos a importância de
      atender às necessidades e preferências alimentares dos nossos clientes.
      Por isso, oferecemos opções sem lactose, sem calda, sem açúcar e até
      preparações feitas com leites vegetais, garantindo que todos possam
      desfrutar dessa experiência revigorante!
    </p>
    <p>
      A Deleite nasceu de três amigas baristas e muito criativas, com a missão
      de proporcionar momentos de prazer em cada gole ou colherada. Seja para
      refrescar o calor, celebrar conquistas ou simplesmente adoçar o seu dia,
      estamos aqui para melhorar seu dia. Explore nossos sabores e descubra o
      que torna a Deleite um momento de qualidade e refrescância na sua rotina,
      você merece!
    </p>
  </div>
  <div class="image-row-1">
    <img src="assets/images/cafe-gelado-tela-sobre.png" alt="Café gelado" />
    <img src="assets/images/3-baristas.png" alt="3 baristas" />
  </div>
  <div class="image-row-2">
    <img src="assets/images/2-baristas.png" alt="2 baristas" />
    <img src="assets/images/calda.png" alt="Calda de chocolate" />
  </div>
</section>
